.tooling-apps-cache/app/jms-app/jms-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="f2d3c395-bef0-42b4-872c-c594f95f9cc8" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616"/>
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jms-appFlow" doc:id="729ccfc9-714b-400d-8fb7-680019596424" >
		<jms:listener doc:id="522888a7-603b-411b-8cea-ac2952cc6280" config-ref="JMS_Config" destination="Q.FSD.EMP">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="3d7654ea-ce8b-4e2f-8510-4a09c6f27efc" message="#[payload]"/>
	</flow>
</mule>
